<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BGR Headlines</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/style.css">
		
	<!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

{{!-- index.handlebars script file --}}
<script src="app.js"</script>

 <title>BGR Headlines</title>

</head>
<body>

	{{!-- Main body content --}}
	{{{ body }}}
</body>
</html>