<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NEWS_MONGO_CHERIO</title>
</head>

<body>
<div class="page-header">
  <h1>News from BGR </h1>
</div>

<div id ="main"> 
{{!--insert article here--}}

<h1>What do you think?</h1>
	<div id = "story">
	<form id = "userthought">
		<input type="text" id="thought"
		placeholder="Comments"/>
		<button type="submit"  id="addcomment" placeholder ="Add Your Thoughts">
	</form>
	</div>
</div>

<footer>  </footer>
</body>
</html>